@font-face {
    font-family: "Caprasimo Regular";
    src: url("fonts/Caprasimo-Regular.ttf") format("tff");
}

@font-face {
    font-family: "Averia Serif Libre";
    src: url("fonts/AveriaSerifLibre-Regular.ttf") format("tff");
}