@font-face {
    font-family: "Norse Bold";
    src: url("fonts/Norse-Bold.otf");
}

:root {
    --theme-green: #596D48;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

.banner {
    background-image:url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: repeat;
    background-size: cover;
    flex: 1 1 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credit {
    margin-top: auto;
    margin: auto auto 2vh auto;
    text-align: center;
    color: white;
}

.credit a {
    color: white;
}

.logo {
    display: flex;
    background-color: rgb(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    flex-wrap: wrap;
}

@media screen and (min-height: 320px) {
    .banner {
        justify-content: flex-start;
    }

    .logo {
        margin-top: 25vh;
    }
}

.logo img {
    max-height: 6rem;
    flex-shrink: 1;
}

.logo p {
    font-weight: bold;
    font-family: "Norse Bold";
    color: white;
    font-size: 5rem;
    flex-shrink: 1;
}

.container {
    padding-top: 2rem;
    flex: 1 1 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: max(1.2rem, 1.3vw);
    background-color: rgb(248, 248, 248);
    overflow: auto;
}

@media screen and (max-height:500px) {
    .container {
        justify-content: flex-start;
    }
}

.above-text > p + p {
    margin-top: max(1rem, 2vw);
}

.above-text {
    margin: 0 12vw 2.3rem 3vw;
}

.form-container > p {
    width: 100%;
    margin-bottom: 2vw;
    margin-left: 3vw;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
 
    width: 100%;
    padding: 3vh 0;
    padding-right: 12vw;
    box-shadow: 1px 3px 5px gray;
    background-color: white;
}

.form-control {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 3vw;
    margin-bottom: 1vw;
}

.form-control label {
    font-size: calc(0.70rem + 0.16vw);
}

.form-control input {
    padding: 0.2rem;
    padding-left: 0.4rem;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height: calc(1rem + 0.6vw);
    font-size: calc(8px + 0.6vw);
}

.form-control input:focus {
    border: 1px solid rgb(88, 164, 226);
    box-shadow: 1px 1px 1px lightgray;
    outline: none;
}

form button {
    margin: 0 3vw;
    margin-top: 2.5vw;
    padding: 0.9vw 3vw;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: var(--theme-green);
    border: 1px solid var(--theme-green);
    font-weight: bold;
    font-size: max(0.9rem, 1vw)
}

form button:hover {
    box-sizing: border-box;
    border: 1px solid var(--theme-green);
    color: var(--theme-green);
    background-color: white;
}

form + p {
    margin: 0 3vw;
    margin-top: 2.6vw;
    font-size: max(0.9rem, 1vw);
}

form + p > a {
    text-decoration: none;
    color: var(--theme-green);
    padding-bottom: 2rem;
}